
$white: #ffffff;
$black: #111111;
$text-color: #274C5B;
$green: #80B857;








%logo{

    display: flex;
    align-items: center;

    & a{
        display: flex;
        align-items: center;
        font-family: "Ribeye Marrow", serif;
        font-weight: 400;
        font-style: normal;
        font-size: 40px;
        line-height: 54.65px;
        color: black;
        padding-left: 16px;
    }
}

%textcards{
    font-family: Roboto;
    font-size: 40px;
    font-weight: 800;
    line-height: 44px;
    color: $green;
}

%leadtext{
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 29.77px;
    color: #525C60;
}

%footertext{
    font-family: Open Sans;
    font-size: 18px;
    line-height: 29.7px;
    color: #525c60;
}

%footertitle{
    font-family: Roboto;
    font-size: 30px;
    font-weight: 700;
    line-height: 35.16px;
    color: $text-color;
}

%shadowbtn{
    & button{

        &:hover{
            background-color: #679745;
        }

        &:active{
            box-shadow:
            inset -2px -2px 3px rgba(255, 255, 255, 0.6),
            inset 2px 2px 3px rgba(0, 0, 0, 0.6);
        }
    }
}

%section1-title-text{
    font-family: Roboto;
    font-size: 70px;
    font-weight: 800;
    line-height: 73px;
    color: $text-color;
}

%line-h28{
    font-family: Roboto;
    font-size: 24px;
    font-weight: 700;
    line-height: 28.13px;
}

%underline{
    position: relative;
    text-decoration: none;
    font-weight: 400;
    color: blue;
    transition: all .35s ease;

    &::before {
        content: ""; 
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: $green;
        visibility: hidden;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transition: all 0.3s ease-in-out 0s; 
        transition: all 0.3s ease-in-out 0s; 
    }   

    &:hover {
        color: $green;

        &::before {
            visibility: visible;
            -webkit-transform: scaleX(1.1);
            transform: scaleX(1.1);
        }   
    }
}



a {
    display: inline-block;
    text-decoration: none;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: $white;
}

.container {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
}


// Главная страница//

header{
    display: flex;
    padding: 69px 142px 69px 142px;

    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 10;
    width: 100%;
    background: rgb(241, 241, 241);
    opacity: 0.9;


    & .logo-nav{

        display: flex;
        justify-content: space-between;
        align-items: center;

        & .logo{
            @extend %logo;
            padding-right: 140px;
        }
    
        & .navbar{

            & ul{
                
                display: flex;

                & li+li{
                    padding-left: 52px ;
                }

                & li{
                    list-style-type: none;
                    display: flex;
                    align-items: center;

                    & img{
                        padding-left: 5px;
                    }

                    & a{
                        color: $text-color;

                        font-family: Roboto;
                        font-size: 20px;
                        font-weight: 700;
                        line-height: 23.44px;

                        @extend %underline;
                    } 
                }
            }
        }
    }

    & .search-contact{

        display: flex;

        & .search{

            display: flex;
            align-items: center;
            position: relative;

            & input{

                background-color: $green;
                padding: 25px 80px 25px 30px;
                border-radius: 56px;
                border-width: 0px;

                font-family: Roboto;
                font-size: 18px;
                font-weight: 600;
                line-height: 21.09px;
                text-align: left;
                color: $white;
                outline: none;

                &::placeholder{
                    color: $white;
                }
            }

            & button{
                position: absolute;
                right: 10px;

                padding: 18px;
                background: #43644F;
                font-size: 19px;
                border: none;
                border-radius: 50%;
                cursor: pointer;

                &:hover{
                    background-color: #274C5B;
                }
            }
        }

        & .contact{

            display: flex;
            align-items: center;
            margin-left: 33px;

            border: 1px solid #E0E0E0;
            border-radius: 56px;

            & img{
                padding: 0px 10px 0px 13px;
            }

            & a{
                font-family: Roboto;
                font-size: 18px;
                font-weight: 600;
                line-height: 21.09px;
                color: $text-color;

                padding-right: 16px;
            }
        }
    }
}

.section1{

    padding-top: 209px;

    & .title{
        position: absolute;
        top: 30%;
        right: 5%;
        width: 530px;

        & .text{
            @extend %section1-title-text;

            padding-bottom: 23px;
        }

        @extend %shadowbtn;

        & .btn{
            display: flex;
            align-items: center;
            cursor: pointer;

            background-color: $green;
            padding: 28px 39px 28px 39px;

            font-family: Roboto;
            font-size: 20px;
            font-weight: 700;
            line-height: 23.44px;
            color: $text-color;

            border: none;
            border-radius: 16px;

            & img{
                padding-left: 10px;
            }
        }
    }
}

.section2{

    & .cards{
        
        display: flex;
        padding: 8% 8% 0% 8%;
        justify-content: space-between;

        & .left-card{

            position: relative;
            transition: .5s;

            &:hover{
                transform: scale(1.2);
            }

            & p{
                position: absolute;
                @extend %textcards;
                bottom: 5%;
                left: 5%;
                width: 45%;
            }
        }

        & .right-card{

            transition: .5s;

            &:hover{
                transform: scale(1.2);
            }

            & img{
                border-radius: 10px;
            }

            position: relative;
            background-color: #F7F7F7;
            border-radius: 10px;

            & p{
                position: absolute;
                @extend %textcards;
                top: 5%;
                left: 5%;
                width: 40%;
            }
        }
    }
}

.section3{
    display: flex;
    background-color: #F2F2F0;
    margin-bottom: 49px;

    margin-top: 8%;

    & .lead{
        
        align-content: center;
        padding-left: 3%;

        &-text{

            padding-bottom: 46px;

            &-title{
                font-family: Roboto;
                font-size: 50px;
                font-weight: 800;
                line-height: 58.59px;
                color: $text-color;

                padding-bottom: 15px;
            }

            &-subtitle{
                @extend %leadtext;
            }
        }

        &-desc{

            & .tagline{

                display: flex;
                padding-bottom: 16px;
                align-items: center;

                &-text{

                    padding-left: 2%;

                    & .title{
                        font-family: Roboto;
                        font-size: 25px;
                        font-weight: 800;
                        line-height: 29.3px;
                        color: $text-color;
                    }

                    & .subtitle{
                        @extend %leadtext;
                    }
                }
            }
        }
    }
}

.subscribe{

    & .slogan{
        display: flex;
        justify-content: space-between;
        padding: 83px 71px 127px 71px;
        margin: 0px 260px 96px 260px;
        border-radius: 30px;

        background-color: $green;

        & .title{
            font-family: Roboto;
            font-size: 50px;
            font-weight: 800;
            line-height: 58.59px;
            color: $white;
        }

        & .widgets{

            display: flex;
            align-items: center;

            & input{
                padding: 27.5px 99px 31.5px 23px;
                border-radius: 16px;
                border: none;
                outline: none;

                font-family: Roboto;
                font-size: 18px;
                font-style: italic;
                color: $black;

                &::placeholder{
                    color: $black;
                }
            }

            @extend %shadowbtn;

            & button{

                margin: 12px;
                padding: 28px 47px 28px 47px;
                border-radius: 16px;
                gap: 10px;
                border: none;

                font-family: Roboto;
                font-size: 20px;
                font-weight: 700;
                line-height: 23.44px;
                color: $white;

                background-color: $text-color;

                &:hover{
                    background-color: #667e55;
                }
            }
        }
    }
}


.footer{

    display: flex;
    justify-content: space-between;

    padding: 0px 311px 218px 311px;

    & .contacts{
        padding-right: 50px;
        text-align: end;

        border-right: 1px solid #D4D4D4;

        & .footer-title{
            padding-bottom: 32px;
            @extend %footertitle;
        }

        & .footer-subtitle{

            @extend %footertext;
            font-weight: 700;

            & span.subtitle-text{

                @extend %footertext;
                font-weight: 400;

                & a{

                    @extend %footertext;
                    font-weight: 400;
                }
            }

            & .underline{
                @extend %underline;
            }
        }
    }

    & .about{
        & .logo{
            @extend %logo;
            padding-bottom: 23px;
            align-items: center;
            justify-content: center;
        }

        & .info{

            &-text{

                font-family: Open Sans;
                font-size: 18px;
                font-weight: 400;
                line-height: 29.77px;
                text-align: center;
                color: #525C60;

                padding-bottom: 29px;
            }

            & .info-links{

                display: flex;
                justify-content: space-around;

                & .circle{
                    position: relative;
                }

                & img{
                    z-index: -10;
                }

                & i{
                    position: absolute;
                    z-index: 10;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    color: #274C5B;
                }
            }
        }
    }

    & .utility{
        padding-left: 50px;
        padding-right: 0px;
        text-align: start;

        border-left: 1px solid #D4D4D4;
        border-right: 0px;

        & .footer-subtitle{
            line-height: 49.12px;
        }
    }
}


// Страница каталог//


.catalog{

    &-section1{

        padding-bottom: 123px;
        padding-top: 209px;

        & .title{
            position: absolute;
            right: 15%;
            top: 32%;
        }

        & p{
            @extend %section1-title-text;
        }
    }

    &-section2{

        padding: 0px 267px 0px 267px;
        & .cards{

            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            gap: 80px;
            padding-bottom: 91px;
            

            & .card{

                border-radius: 20px;
                border: 3px solid #80B857;

                transition: .5s;

                &:hover{
                    transform: scale(1.2);
                    box-shadow: 5px 5px 5px $green;
                }


                &-img{

                    position: relative;

                    & img{
                        border-radius: 10px;
                    }

                    & i{
                        position: absolute;
                        cursor: pointer;

                        right: 4%;
                        top: 7%;
                    }
                }

                &-text{

                    display: flex;
                    justify-content: space-between;
                    padding: 24px;
                    background-color: $green;
                    border-bottom-left-radius: 10px;
                    border-bottom-right-radius: 10px;
                    
                    &-name{
                        font-family: Roboto;
                        font-size: 20px;
                        font-weight: 700;
                        line-height: 24px;
                        color: $text-color;

                    }

                    &-price{
                        font-family: Pacifico;
                        font-size: 20px;
                        font-weight: 400;
                        line-height: 36px;
                        color: $text-color;
                    }
                }
            }

            & .error-found{

                font-family: Roboto;
                font-size: 64px;
                font-weight: 400;
                line-height: 75px;
                color: $text-color;
            }
        }

        & .cards-list{
            display: flex;
            justify-content: center;

            @extend %line-h28;
            padding-bottom: 62px;

            & i{
                display: flex;
                align-items: center;
                padding: 0px 4px 0px 4px;
            }

            & a+a{
                margin-left: 76px;
            }
            
            & a{
                color: $text-color;
                transition: .5s;

                &:hover{
                    transform: scale(1.5);
                }
            }
        }
    }
}


//Страница новости//


.news{

    &-section1{

        padding-top: 209px;
        padding-bottom: 107px;

        &-title{

            position: relative;

            & p{

                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
    
                font-family: Roboto;
                font-size: 70px;
                font-weight: 800;
                line-height: 82.03px;
                color: $green;
            }
        }
    }

    &-cards{

        &-all{

            padding: 0px 171px 0px 171px;
            display: flex;
            justify-content: space-around;
            padding-bottom: 132px;

            &-card{

                position: relative;

                & img{

                    z-index: 1;
                }

                & .card-date{
                    top: 6%;
                    left: 4%;

                    position: absolute;
                    z-index: 2;

                    & p{
                        font-family: Roboto;
                        font-size: 25px;
                        font-weight: 800;
                        line-height: 29.3px;
                        text-align: center;
                        color: $text-color;
                        position: absolute;

                        padding-top: 10px;
                    }

                    & img{

                        position: absolute;
                    }
                }

                & .card-text{

                    padding: 54px 57px 54px 57px;
                    background-color: $white;
                    left: 0px;
                    bottom: 0px;
                    border-radius: 30px;
                    width: 90%;
                    margin: 0px 0px 15px 32px;

                    position: absolute;

                    & .card-title{
                        font-family: Roboto;
                        font-size: 20px;
                        font-weight: 700;
                        line-height: 33.08px;
                        color: $text-color;

                        padding-bottom: 19px;

                    }

                    & .card-subtitle{

                        display: flex;
                        align-items: center;

                        font-family: Roboto;
                        font-size: 20px;
                        font-weight: 400;
                        line-height: 23.44px;

                        & a{
                            padding-right: 11px;
                            color: #274C5B;
                        }
                    }
                }
            }
        }
    }
}


//404 not found//


.not-found{
    &-title{
        font-family: Inter;
        font-size: 128px;
        font-weight: 400;
        line-height: 154.91px;
        text-align: center;
        color: $text-color;

        padding: 450px 0px 300px 0px;
    }
}

//Вход/Регистрация//


.sign-in{
   
    & .popup{
        position: fixed;
        width: 836px;
        height: 150%;
        top: 65%;
        left: 50%;
        transform: translate(-100%, -100%);
        z-index: 50;
        scale: 0.5;

        & .popup-content{
            
            padding: 152px 132px 132px 132px;
            background-color: $white;
            box-shadow: 0px 0px 52px 10px #111111;

            display: flex;
            flex-direction: column;
            align-items: center;

            & .img{
                position: absolute;
                right: 12%;
                top: 2%;
            }

            & .logo{
                @extend %logo;
                padding-bottom: 10%;
            }

            & .title{
                font-family: Roboto;
                font-size: 40px;
                font-weight: 700;
                line-height: 46.88px;
                color: $text-color;
                padding-bottom: 50px;
            }

            & .subtitles{

                & .subtitle{
                    padding-bottom: 60px;

                    &-text{
                        padding-bottom: 5px;

                        & p{
                            @extend %line-h28;
                            color: $text-color;
                        }
                    }

                    &-input{

                        & input{

                            width: 566px;
                            padding: 37px 37px 37px 14px;
                            border-radius: 10px;

                            @extend %line-h28;
                            color: $black;

                            &::placeholder{
                                color: $text-color;
                                opacity: 50%;
                            }
                        }
                    }

                    & .password {
                        position: relative;

                        & button{
                            border: none;
                        }

                        & .password-control {
                            position: absolute;
                            top: 50%;
                            right: 8%;
                            width: 40px;
                            height: 33px;
                            background: url(/static/svg/eye-slash-regular.svg) 0 0 no-repeat;
                            transform: translate(-50%, -50%);
                        }

                        & .password-control.view {
                            background: url(/static/svg/eye-regular.svg) 0 0 no-repeat;
                        }
                    }
                }
            }

            & .btn{
                @extend %shadowbtn;

                & button{
                    @extend %line-h28;
                    color: $text-color;

                    padding: 40px 160px 40px 160px;
                    background-color: $green;
                    border-radius: 10px;
                    border: none;
                    cursor: pointer;
                }
            }

            & .excerpt{

                padding-top: 79px;
                display: flex;

                @extend %line-h28;
                color: $text-color;

                & p{
                    padding-right: 10px;
                }

                & a{
                    @extend %underline;
                    color: $text-color;
                }
            }
        }
    }
}

.registr{
    & .popup{
        &-content{
            & .subtitles{
                & .subtitle{
                    & .pt{
                        margin-top: 69px;
                    }
                }
            }
        }
    }
}