<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Pacifico&family=Ribeye+Marrow&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

    <script src="https://kit.fontawesome.com/0a764cddf7.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="main">
        <header class="header conteiner">
            <div class="logo-nav">
                <div class="logo">
                    <a href="/"><img src="/static/img/logo.png" alt=""></a>
                    <a href="/">Microsel</a>
                </div>
                <nav class="navbar">
                    <ul>
                        <li><a id="scrollToBlock" href="">О нас</a></li>
                        <li><a href="catalog">Каталог</a> <!-- <img src="/static/img/Vector.png" alt=""> --> </li>
                        <li><a href="">Скидки</a></li>
                        <li><a href="news">Новости</a></li>
                    </ul>
                </nav>
            </div>
            <div class="search-contact">
                <div class="search">
                    <input type="text" required minlength="1" maxlength="30" size="30" placeholder="Поиск..." name="search" required>
                    <button type="submit"><i class="fa-solid fa-magnifying-glass" style="color: #ffffff;"></i></button>
                </div>
                <div class="contact">
                    <img src="/static/img/Cart Icon.png" alt="">
                    <a href="">Вход</a>
                </div>
            </div>
        </header>
        
        <section class="section1 conteiner">
            <img src="/static/img/section1.png" alt="" width="100%">
            <div class="title">
                <p class="text">
                    Первый в РФ магазин микрозелени
                </p>
                <a href="catalog">
                    <button class="btn">
                        В КАТАЛОГ
                        <img src="/static/img/btn1.png" alt="">
                    </button>
                </a>
            </div>
        </section>

        <section class="section2 conteiner">
            <div class="cards">
                <div class="left-card">
                    <img src="/static/img/left-card.png" alt="">
                    <p>
                        Все популярные виды микрозелени
                    </p>
                </div>
                <div class="right-card">
                    <img src="/static/img/right-card.png" alt="">
                    <p>
                        Скидка 20% на первый заказ
                    </p>
                </div>
            </div>
        </section>

        <section id="targetBlock" class="section3 conteiner">
            <img src="/static/img/Ryka.png" alt="" width="50%">
            <div class="lead">
                <div class="lead-text">
                    <div class="lead-text-title">
                        <p>Мы работаем только с <br> 
                        качественным сырьём от <br> 
                        местных фермеров</p>
                    </div>
                    <div class="lead-text-subtitle">
                        <p>Работа с местными фермерами приносит производственным компаниям <br>
                        преимущество в виде высококачественного сырья, укрепляет местное <br>
                        сообщество, снижает экологический след и способствует устойчивости <br>
                        цепочки поставок, обеспечивая надежность и прозрачность.</p>
                    </div>
                </div>
                <div class="lead-desc">
                    <div class="tagline">
                        <img src="/static/img/lead-top.png" alt="">
                        <div class="tagline-text">
                            <p class="title">
                                Только натуральная продукция
                            </p>
                            <p class="subtitle">
                                Полагаясь на природу, мы предлагаем продукты <br>
                                без искусственных добавок, гарантируя вам <br>
                                чистоту и качество.
                            </p>
                        </div>
                    </div>
                    <div class="tagline">
                        <img src="/static/img/lead-bottom.png" alt="">
                        <div class="tagline-text">
                            <p class="title">
                                Высокие стандарты качества
                            </p>
                            <p class="subtitle">
                                На каждом этапе производства мы стремимся к <br>
                                совершенству,  чтобы вы могли наслаждаться <br>
                                продуктами с превосходным качеством и вкусом.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="subscribe conteiner">
            <div class="slogan">
                <div class="title">
                    <p>Узнайте первыми <br>
                        о новых акциях!</p>
                </div>
                <div class="widgets">
                    <input type="email" id="email" pattern="" maxlength="30" size="30" placeholder="Введите ваш e-mail адресс" required>
                    <button>
                        Подписаться
                    </button>
                </div>
            </div>
        </section>

        <footer class="footer conteiner">
            <div class="contacts">
                <div class="footer-title">
                    <p>Контакты</p>
                </div>
                <div class="footer-subtitle">
                    <p> 
                        Почта <br>
                       <span class="subtitle-text underline">
                        <a href="">bgitu@microsel.com</a>
                        </span>  <br>
                        <br>
                        Телефон <br>
                        <span class="subtitle-text">2281337</span> <br>
                        <br>
                        Адрес <br>
                        <span class="subtitle-text">Г.Брянск</span> <br>
                    </p>
                </div>
            </div>
            <div class="about">
                <div class="logo">
                    <a href="/"><img src="/static/img/logo.png" alt=""></a>
                    <a href="/">Microsel</a>
                </div>
                <div class="info">
                    <div class="info-text">
                        Следите за новостями и акциями <br>
                        в наших социальных сетях, подпишитесь!
                    </div>
                    <div class="info-links">
                        <a href="https://github.com/" class="circle">
                            <img src="/static/img/footer icon.png" alt="">
                            <i class="fa-brands fa-github"></i>
                        </a>
                        <a href="https://mail.ru" class="circle">
                            <img src="/static/img/footer icon.png" alt="">
                            <i class="fa-solid fa-envelope"></i>
                        </a>
                        <a href="https://vk.com" class="circle">
                            <img src="/static/img/footer icon.png" alt="">
                            <i class="fa-brands fa-vk"></i>
                        </a>
                        <a href="https://telegram.org/" class="circle">
                            <img src="/static/img/footer icon.png" alt="">
                            <i class="fa-brands fa-telegram"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="contacts utility">
                <div class="footer-title">
                    <p>Utility Pages</p>
                </div>
                <div class="footer-subtitle">
                    <p>
                        <span class="subtitle-text ">
                            <a class="underline" href="https://bgitu.ru/">BGITU</a> <br>
                            <a class="underline" href="404.html">404 Not Found</a> <br>
                            <a class="underline" href="catalog">Catalog</a> <br>
                            <a class="underline" href="">Licences</a> <br>
                            <a class="underline" href="https://github.com/Ewgentor/practic">Github</a> <br>
                        </span> 
                    </p>
                </div>
            </div>
        </footer>
    </div>
</body>

<script>
    document.getElementById("scrollToBlock").addEventListener("click", function(event) {
    event.preventDefault();
    const targetBlock = document.getElementById("targetBlock");
    targetBlock.scrollIntoView({ behavior: "smooth" });
});
</script>

</html>