<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Microsel</title>
    <link rel="icon" href="/static/img/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Pacifico&family=Ribeye+Marrow&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

    <script src="https://kit.fontawesome.com/0a764cddf7.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="news">
        <header class="header conteiner">
            <div class="logo-nav">
                <div class="logo">
                    <a href="/"><img src="/static/img/logo.png" alt=""></a>
                    <a href="/">Microsel</a>
                </div>
                <nav class="navbar">
                    <ul>
                        <li><a href="/">О нас</a></li>
                        <li><a href="catalog">Каталог</a> <!-- <img src="/static/img/Vector.png" alt=""> --> </li>
                        <li><a href="cart">Корзина</a></li>
                        <li><a href="news">Новости</a></li>
                    </ul>
                </nav>
            </div>
            <div class="search-contact">
                <form class="search" action="search" method="post">
                    <input type="text" required minlength="1" maxlength="30" size="30" placeholder="Поиск..." name="query" required>
                    <button type="submit"><i class="fa-solid fa-magnifying-glass" style="color: #ffffff;"></i></button>
                </form>
                <div class="contact">
                    <img src="/static/img/Cart Icon.png" alt="">
                    <a href="javascript:PopUpShow()">Вход</a>
                </div>
            </div>
        </header>

        <section class="news-section1">
            <div class="news-section1-title">
                <img src="/static/img-news/title.png" width="100%" alt="">
                <p>
                    Новости
                </p>
            </div>
        </section>

        <section class="news-cards">
            <div class="news-cards-all">
                <div class="news-cards-all-card">
                    <img src="/static/img-news/card1.png" alt="">
                    <div class="card-date">
                        <p class="date" id="date"></p>
                        <svg width="82" height="82" viewBox="0 0 82 82" fill="none">
                            <circle cx="41" cy="41" r="41" fill="white"/>
                        </svg>
                    </div>
                    <div class="card-text">
                        <div class="card-title">
                            <p>
                                В чем разница между миркозеленью и <br>
                                проростками?
                            </p>
                        </div>
                        <div class="card-subtitle">
                            <a href="">
                                Читать дальше
                            </a>
                            <a href=""><i class="fa-solid fa-circle-arrow-right" style="color: #274C5B;"></i></a>
                        </div>
                    </div>
                </div>
                <div class="news-cards-all-card">
                    <img src="/static/img-news/card2.png" alt="">
                    <div class="card-date">
                        <p class="date" id="date"></p>
                        <svg width="82" height="82" viewBox="0 0 82 82" fill="none">
                            <circle cx="41" cy="41" r="41" fill="white"/>
                        </svg>
                    </div>
                    <div class="card-text">
                        <div class="card-title">
                            <p>
                                Модно и полезно. <br>
                                Как правильно выращивать микрозелень.
                            </p>
                        </div>
                        <div class="card-subtitle">
                            <a href="">
                                Читать дальше
                            </a>
                            <a href=""><i class="fa-solid fa-circle-arrow-right" style="color: #274C5B;"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="news-cards-all">
                <div class="news-cards-all-card">
                    <img src="/static/img-news/card3.png" alt="">
                    <div class="card-date">
                        <p class="date" id="date"></p>
                        <svg width="82" height="82" viewBox="0 0 82 82" fill="none">
                            <circle cx="41" cy="41" r="41" fill="white"/>
                        </svg>
                    </div>
                    <div class="card-text">
                        <div class="card-title">
                            <p>
                                Микрозелень — это модный тренд в питании <br>
                                или нечто реально полезное?
                            </p>
                        </div>
                        <div class="card-subtitle">
                            <a href="">
                                Читать дальше
                            </a>
                            <a href=""><i class="fa-solid fa-circle-arrow-right" style="color: #274C5B;"></i></a>
                        </div>
                    </div>
                </div>
                <div class="news-cards-all-card">
                    <img src="/static/img-news/card4.png" alt="">
                    <div class="card-date">
                        <p class="date" id="date"></p>
                        <svg width="82" height="82" viewBox="0 0 82 82" fill="none">
                            <circle cx="41" cy="41" r="41" fill="white"/>
                        </svg>
                    </div>
                    <div class="card-text">
                        <div class="card-title">
                            <p>
                                Микрозелень - это очередной обман?
                                <br>
                                <br>
                            </p>
                        </div>
                        <div class="card-subtitle">
                            <a href="">
                                Читать дальше
                            </a>
                            <a href=""><i class="fa-solid fa-circle-arrow-right" style="color: #274C5B;"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="subscribe conteiner">
            <div class="slogan">
                <div class="title">
                    <p>Узнайте первыми <br>
                        о новых акциях!</p>
                </div>
                <div class="widgets">
                    <input type="email" id="email" pattern="" maxlength="30" size="30" placeholder="Введите ваш e-mail адресс" required>
                    <button>
                        Подписаться
                    </button>
                </div>
            </div>
        </section>

        <footer class="footer conteiner">
            <div class="contacts">
                <div class="footer-title">
                    <p>Контакты</p>
                </div>
                <div class="footer-subtitle">
                    <p> 
                        Почта <br>
                       <span class="subtitle-text underline">
                        <a href="">bgitu@microsel.com</a>
                        </span>  <br>
                        <br>
                        Телефон <br>
                        <span class="subtitle-text">2281337</span> <br>
                        <br>
                        Адрес <br>
                        <span class="subtitle-text">Г.Брянск</span> <br>
                    </p>
                </div>
            </div>
            <div class="about">
                <div class="logo">
                    <a href="/"><img src="/static/img/logo.png" alt=""></a>
                    <a href="/">Microsel</a>
                </div>
                <div class="info">
                    <div class="info-text">
                        Следите за новостями и акциями <br>
                        в наших социальных сетях, подпишитесь!
                    </div>
                    <div class="info-links">
                        <a href="https://github.com/" class="circle">
                            <img src="/static/img/footer icon.png" alt="">
                            <i class="fa-brands fa-github"></i>
                        </a>
                        <a href="https://mail.ru" class="circle">
                            <img src="/static/img/footer icon.png" alt="">
                            <i class="fa-solid fa-envelope"></i>
                        </a>
                        <a href="https://vk.com" class="circle">
                            <img src="/static/img/footer icon.png" alt="">
                            <i class="fa-brands fa-vk"></i>
                        </a>
                        <a href="https://telegram.org/" class="circle">
                            <img src="/static/img/footer icon.png" alt="">
                            <i class="fa-brands fa-telegram"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="contacts utility">
                <div class="footer-title">
                    <p>Utility Pages</p>
                </div>
                <div class="footer-subtitle">
                    <p>
                        <span class="subtitle-text">
                            <a class="underline" href="https://bgitu.ru/">BGITU</a> <br>
                            <a class="underline" href="404">404 Not Found</a> <br>
                            <a class="underline" href="catalog">Catalog</a> <br>
                            <a class="underline" href="">Licences</a> <br>
                            <a class="underline" href="https://github.com/Ewgentor/practic">Github</a> <br>
                        </span> 
                    </p>
                </div>
            </div>
        </footer>
    </div>

    <section class="sign-in">
        <div class="popup" id="popup1">
            <div class="popup-content">
                <div class="img">
                    <img src="/static/img-pop/Star 8.png" alt="">
                </div>
                <div class="logo">
                    <a href="/"><img src="/static/img/logo.png" alt=""></a>
                    <a href="/">Microsel</a>
                </div>
                <div class="title">
                    <p>
                        Вход
                    </p>
                </div>
                <div class="subtitles">
                    <div class="subtitle">
                        <div class="subtitle-text">
                            <p>
                                Email
                            </p>
                        </div>
                        <div class="subtitle-input">
                            <input type="email" maxlength="30" size="30" placeholder="Введите ваш e-mail адресс" required>
                        </div>
                    </div>
                    <div class="subtitle">
                        <div class="subtitle-text">
                            <p>
                                Пароль
                            </p>
                        </div>
                        <div class="subtitle-input password">
                            <input type="password" id="password-input1" name="password" maxlength="30" size="30" placeholder="Введите ваш пароль" required>
                            <a href="" class="password-control" onclick="return show_hide_password(this, 'password-input1');"></a>
                        </div>
                    </div>
                </div>
                <div class="btn">
                    <button>
                        Войти
                    </button>
                </div>
                <div class="excerpt">
                    <p>
                        У вас ещё нет аккаунта?
                    </p>
                    <a href="">Зарегистрироваться</a>
                </div>
            </div>
            <a href="javascript:PopUpHide()"></a>
        </div>
    </section>

    <section class="sign-in registr">
        <div class="popup" id="popup2">
            <div class="popup-content">
                <div class="img">
                    <img src="/static/img-pop/Star 8.png" alt="">
                </div>
                <div class="logo">
                    <a href="/"><img src="/static/img/logo.png" alt=""></a>
                    <a href="/">Microsel</a>
                </div>
                <div class="title">
                    <p>
                        Создать аккаунт
                    </p>
                </div>
                <div class="subtitles">
                    <div class="subtitle">
                        <div class="subtitle-text">
                            <p>
                                Email
                            </p>
                        </div>
                        <div class="subtitle-input">
                            <input type="email" maxlength="30" size="30" placeholder="Введите ваш e-mail адресс" required>
                        </div>
                    </div>
                    <div class="subtitle">
                        <div class="subtitle-text">
                            <p>
                                Пароль
                            </p>
                        </div>
                        <div class="subtitle-input password">
                            <input type="password" id="password-input2" name="password" maxlength="30" size="30" placeholder="Введите ваш пароль" required>
                            <a href="" class="password-control" onclick="return show_hide_password(this, 'password-input2');"></a>
                        </div>
                        <div class="subtitle-input password pt">
                            <input type="password" id="password-input3" name="password" maxlength="30" size="30" placeholder="Повторите ваш пароль" required>
                            <a href="" class="password-control" onclick="return show_hide_password(this, 'password-input3');"></a>
                        </div>
                    </div>
                </div>
                <div class="btn">
                    <button>
                        Зарегистрироваться
                    </button>
                </div>
                <div class="excerpt">
                    <p>
                        У вас уже есть аккаунта?
                    </p>
                    <a href="#" id="showLoginPopup">Вход</a>
                </div>
            </div>
            <a href="javascript:PopUpHide2()"></a>
        </div>
    </section>
</body>

<script>
    document.addEventListener("DOMContentLoaded", function() {
            const months = ["Январь", "Февраль", "Март", "Апрель", "Май", "Июнь", "Июль", "Август", "Сентябрь", "Октябрь", "Ноябрь", "Декабрь"];
            const currentDate = new Date();
            const day = currentDate.getDate();
            const month = months[currentDate.getMonth()];

            document.querySelectorAll(".date").forEach((element) => {
                element.textContent = `${day} ${month}`;
            });
        });
</script>

<script src="http://code.jquery.com/jquery-2.0.2.min.js"></script>
<script>

    $(document).ready(function() {
    // Скрыть PopUp при загрузке страницы
    PopUpHide();
    PopUpHide2();
});

$('.excerpt a').click(function(event) {
    event.preventDefault(); // Отменяет стандартное поведение ссылки
    PopUpHide(); // Добавьте эту строку для скрытия окна входа при открытии окна регистрации
    PopUpShow2();
});

function PopUpShow() {
    $("#popup1").show();
}

function PopUpHide() {
    $("#popup1").hide();
}

function PopUpShow2() {
    $("#popup2").show();
}

function PopUpHide2() {
    $("#popup2").hide();
}

// Остановить распространение события внутри popup
$('.popup').click(function(e) {
    e.stopPropagation();
});

$('#popup1 a').click(function(e) {
    if (!$(e.target).hasClass('password-control')) { // Проверка, не было ли нажатие на ссылку с классом password-control
        PopUpHide();
    }
});

// Обработчик события для кнопки "Закрыть" во втором popup
$('#popup2 a').click(function(e) {
    if (!$(e.target).hasClass('password-control')) { // Проверка, не было ли нажатие на ссылку с классом password-control
        PopUpHide2();
    }
});

// Закрытие popup при клике вне его области
$(document).click(function(e) {
    if (!$(e.target).closest('.popup').length) {
        $('.popup').hide();
    }
});

$('#showLoginPopup').click(function(event) {
    event.preventDefault(); // Отменяет стандартное поведение ссылки
    PopUpHide2(); // Скрывает окно регистрации при открытии окна входа
    PopUpShow(); // Показывает окно входа
});

function show_hide_password(target, inputId) {
    var input = document.getElementById(inputId);
    if (input.getAttribute('type') === 'password') {
        target.classList.add('view');
        input.setAttribute('type', 'text');
    } else {
        target.classList.remove('view');
        input.setAttribute('type', 'password');
    }
    return false;
}
</script>

</html>